.App {
  text-align: center;
}
body {
  background-color: #3E4555;
  color: #85F589;
}
.header {
  color: #85F589;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.home-page-post>.ui.cards>.card {
  font-size: 1em;
  width: 400px;
}

.heading h5 {
  width: 39%;
  display: inline-block;
}
.post-container {
  width: 75%;
  display: block;
  margin: 25px auto;
}
.edit-post {
  display: block;
  width: 100px;
  margin: 0 auto;
}

button.ui.pink.button {
  width: 100px;
  display: block;
  margin: 0 auto;
  color: #85F589;
}
.content {
  background-color: #85F589;
}
button.ui.button.edit-post {
  width: 100px;
  display: block;
  margin: 0 auto;
  color: #85F589;
  background-color: #ee82c3;
}
.comment-container {
  margin: 0 auto;
  display: block;
  width: 65%;
}
.card-containers {
  font-size: 1em;
  display: block;
  margin: 34px auto;
  padding-left: 29%;
}
.card-containers.ui.cards>.card{
  color: #85F589;
  background-color: #ee82c3;
}
.post-container h1{
  color: #85F589;
}
.header-post{
  color: #85F589;
}
.ui.blue.button, .ui.blue.buttons .button {
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
  margin-left: 75%;
}
.ui.center.aligned.header, .ui.centered.header {
  text-align: center;
  color: #85F589;
}
.home-page-post {
  margin: 0 auto;
  display: block;
  width: 50%;
}
.home-page-post>.ui.cards>.card {
  font-size: 1em;
  width: 400px;
  margin: 25px auto;
  color: #85F589;
  background-color: #ee82c3;
}
form.ui.form.creat-post-container {
  width: 54%;
  margin: 51px auto;
}
.ui.form select {
  display: block;
  margin-top: 23px;
  height: 37px;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  padding: .62em 1em;
  color: rgba(0,0,0,.87);
  -webkit-transition: color .1s ease,border-color .1s ease;
  -o-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}
.create-comment {
    width: 65%;
    margin: 0 auto;
}
button.ui.pink.button.app-btn.submit-btn {
    margin-top: 25px;
}
.post-actions {
  margin-top: 10px;
}
.homepage-container {
  width: 85%;
  margin: 25px auto;
}
.ui.cards.homepage-posts {
  display: block;
  /* margin: 0 auto; */
  margin-left: 21%;
}
.elPost-container {
  width: 37%;
  margin: 50px auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}